:root {
  --primary-color: rgb(252, 114, 8);
  --second-color: #ffffff;
  --gray-color: #f7f7f7;
}



.navbar {
  background-color: var(--gray-color);
  color: var(--primary-color);
  box-shadow: 1px 5px 24px -8px rgba(0, 0, 0, 0.41);
  -webkit-box-shadow: 1px 5px 24px -8px rgba(0, 0, 0, 0.41);
  -moz-box-shadow: 1px 5px 24px -8px rgba(0, 0, 0, 0.41);
  margin-bottom: 15px;
}

.navbar-brand {
  color: var(--primary-color);

}

.navbar-brand:hover {
  color: var(--primary-color);

}

.wrapper {
  position: relative;
}

.wrapper svg {
  position: absolute;
  left: 4px;
  top: 10px;
}

.form-control {
  padding-left: 30px;
  background-color: var(--second-color);
  border: none;
}

.btn-secondary {
  border: 1px solid var(--primary-color);
  background-color: white;
}

.btn-secondary:hover {
  border: 1px solid var(--primary-color);
  background-color: var(--primary-color);
}

svg {
  color: var(--primary-color);
}

.btn-secondary:hover svg {
  color: white;
}

.btn-outline-success {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  background-color: white;
}


.btn-outline-success:hover {
  border: 1px solid var(--primary-color);
  background-color: var(--primary-color);
}

.linha {
  border-bottom: rgb(146, 144, 144) solid 1px;
  box-shadow: 1px 5px 24px -8px rgba(0, 0, 0, 0.41);
  -webkit-box-shadow: 1px 5px 24px -8px rgba(0, 0, 0, 0.41);
  -moz-box-shadow: 1px 5px 24px -8px rgba(0, 0, 0, 0.41);
}

input[type="checkbox"] {
  appearance: none;
  margin: 0;

  border: 3px solid rgba(139, 69, 19, 0);
  position: absolute;
  cursor: pointer;
  height: 100%;
  width: 100%;
}


input[type="checkbox"]:checked {
  height: 100%;
  width: 100%;
  margin: 0;
  cursor: pointer;
  border-radius: 4px;
  border-color: rgba(252, 114, 8, 0.596);
  -webkit-box-shadow: 0px 16px 18px -6px #FC7208;
  box-shadow: 0px 16px 18px -6px #FC7208;

}

input[type="checkbox"]:checked::after {
  margin: 0;
  height: 100%;
  width: 100%;
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  border-radius: 100%;
}



/* TELA DO CARRINHO */
.btn-carrinho {
  border: 1px solid var(--primary-color);
  background-color: var(--primary-color);
  color: white;
}

.btn-outline-success:hover {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  background-color: white;
}

.footer-pagar {
  background-color: var(--gray-color);
  color: none;
  -webkit-box-shadow: 0px -9px 24px 0px rgba(0, 0, 0, 0.31);
  -moz-box-shadow: 0px -9px 24px 0px rgba(0, 0, 0, 0.31);
  box-shadow: 0px -9px 24px 0px rgba(0, 0, 0, 0.31);
}

.qty {
  background: var(--primary-color);
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0;
  padding: 0 0;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-width: 60px;
  border-radius: 20px;
  overflow: hidden;
  height: 30px;
}

.quantidade-row{
  margin-left: 1px;
}

.qty span {
  margin: 0 10px;
}

.qty button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: transparent;
  border: 0;
  padding: 0 10px;
  font-size: 20px;
  height: 100%;
}

.qty button:hover {
  background: #a76713;
}

.remove {
  background: var(--primary-color);
  border: 0;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 20px;
  color: #ffffff;
  fill: #ffffff;
}

.remove:hover {
  color: var(--primary-color);
  background-color: #ffffff;
  fill: var(--primary-color);
}

aside {
  margin-left: 30px;
}

aside .box {
  margin-bottom: 15px;
  border: 1px solid #ccc;
  background: #eee;
  color: #222;
}

aside .box header {
  padding: 15px 20px;
  font-size: 18px;
  border-bottom: 1px solid #ccc;
}

aside .box .info {
  padding: 20px;
  font-size: 16px;
}

aside .box .info>div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 10px;
  color: #555;
}

aside .box .info>div:last-child {
  margin: 0;
}

aside .box .info button {
  color: var(--primary-color);
  background: transparent;
  border: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 16px;
}

aside .box footer {
  padding: 15px 20px;
  background: #ddd;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

aside>button{
  border: 0;
  padding: 15px 0;
  color: rgb(255, 255, 255);
  background: var(--primary-color);
  display: block;
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 16px;
}

aside>button:hover{
  background-color: #ffffff;
  color:var(--primary-color);
  border:1px solid var(--primary-color);
}

.btn-button{
  background-color: var(--primary-color);
  border: none;
}
.btn:hover{
  background-color: #ffffff;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.modal-body{
  background-color: #f8f8f8;
}

.modal-input{
  border: 1px solid var(--primary-color);
}

.form-container {
  max-width: 500px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input,
.form-group select {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

.form-group button {
  width: 100%;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.form-group button:hover {
  background-color: #45a049;
}

.payment-method,
.card-details,
.pix-details {
  display: none;
}

.button-Adionar{
  text-decoration: none;
  background-color: #45a049;
  border: none;
  color: #ffffff;
}

.button-Adionar:hover{
  text-decoration: none;
  background-color: white;
  color: #45a049;
  border:1px solid #45a049;
}

.button-cancelar{
  text-decoration: none;
  background-color: #ff0000;
  border: none;
  color: #ffffff;
  padding: 18px;
}

.button-cancelar:hover{
  text-decoration: none;
  background-color: white;
  color: #ff0000;
  border:1px solid #ff0000;
  padding: 17px;
}